@model IEnumerable<BookCheap.Busines.DomainModel.Hotel>


@{
    ViewBag.Title = "Hotele";
}

<h2>Lista Hoteli</h2>

<table class="table">
    <tr>
        
        <th width="200">

        </th>
        
        <th>
            Hotel
        </th>
        
        <th>
            Ocena
        </th>

        
    </tr>
   
@foreach (var item in Model)
{
    <tr>
        <td>
            <img @*src="@Url.Content(@item.Photo)"*@ src="" alt="Hotel Foto" width="150" height="150" />
        </td>
        
        <td>

            <b><i>
                @Html.DisplayFor(modelItem => item.Name)
            </i></b>
            <br />
                @Html.DisplayFor(modelItem => item.Description)
        </td>
        
        <td>
            <img src="@Url.Content("~/Photo/stars_rating.jpg")" alt="Hotel Foto" width="90" height="30" />   
        </td>
        
    </tr>
   
}


</table>
